<div *ngIf="currentFileUpload" class="progress">
	<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
		attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
		[ngStyle]="{width:progress.percentage+'%'}">
		{{progress.percentage}}%</div>
</div>

<label class="btn btn-default">
	<input type="file" (change)="selectFile($event)">
</label>
<br />
<br />
<button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
<br />
<br />

<div class="card mt-5">
	<div class="card-body">
		<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">

			<div class="form-group">
				<input type="text" class="form-control" name="plateau" ngModel placeholder="Add A Plateau">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="dropInfo" ngModel placeholder="Add A DropInfo">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="instructions" ngModel placeholder="Add A Instructions">
			</div>


			<div class="form-group">
				<button class="btn btn-primary" type="submit">
					<i class="fas fa-plus-circle"></i> Add
				</button>
				<button class="btn btn-secondary" type="reset" (click)="resetForm(userForm)">
					<i class="fas fa-sync-alt"></i> Reset
				</button>
			</div>
		</form>
	</div>
</div>

<div class="card mt-5">
	<div class="card-body">


		<div class="form-group">
			<h1>{{result}}</h1>
		</div>



	</div>
</div>